DATABASE_URL="postgres://e128d238dd52322a0af8880fd0eef27c24f91083644e6d2577b313e18dacb7a8:sk_LK7qVoau6O_uIdcFuf9s6@db.prisma.io:5432/postgres?sslmode=require"
JWT_ACCESS_SECRET="your-access-token-secret-key-change-this"
JWT_REFRESH_SECRET="your-refresh-token-secret-key-change-this"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
PORT=3001
